body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#date-selector,
#currency-selector {
  margin-bottom: 30px;
}

#max-min-values {
  text-align: right;
}

.clear  { clear: both; }
.fleft  { float: left; }
.fright { float: right; }
